# Output files
output/

# Virtual environment
venv/

# ML models (downloaded at runtime)
*.task
*.tflite

# IDE
.idea/

# Images
*.jpg
*.JPG
*.jpeg
*.JPEG
*.png
*.PNG

# Python
__pycache__/
*.pyc

# OS
.DS_Store
